.footer{
    background-color: blanchedalmond;
}
.footer_listLogo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
}
.footer_listAbout{
    display: flex;
    justify-content: space-around;
    width: 98vw;
    padding: 2rem;
}
.footer_inlineLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.allRights{
    background-color: blanchedalmond;
}

.footer_subtitle{
    font-size: var(--subTitle-size);
}
.footer_newsLetter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background-color: burlywood;
    padding: 1rem;
}
i{
    color: #800033;
}
a{
    color: #800033;
}

@media screen and (max-width: 1300px) {
    .footer_listAbout{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}