@font-face {
  font-family: "Inter";
  src:url('../../../font/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}
/* ============================== */
/* =========== REBOOT =========== */
/* ============================== */
*, *::before, *::after {
    font-family: Inter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid 1px black; */
  }
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}