#main_photo{
    background-image: url("../img/alex-gorbi.jpg");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    filter: grayscale(40%);
    width: 100vw;
    height: 60vh;
}