/* ============================== */
/* ========== VARIABLES ========= */
/* ============================== */
:root {
    --color-primary: #800033;
    --color-secondary: #faea73;
    --color-menu:#ac4141;
    --color-green:#095909;
    --color-black: #000000;
    --color-red: #FF0000;
    --color-white: #fff;
    --color-gray: #bbb;
    --title-size: 2.5rem;
    --title-weight:700;
    --subTitle-size:2rem;
    --text-size:1.5rem;
    --max-width: 1024px;
  }

